<template>
    <v-container>
        <v-row>
            <v-col cols="12" lg="6">
                <v-card color="rgba(0, 0, 0, 0.73)" class="pt-5">
                    <p
                        class="text-center text-h4 white--text font-weight-bold"
                    >INSCRIPCIÓN Reto Mariquita - Letras 2021</p>
                    <v-spacer></v-spacer>
                    <v-card-text
                        class="text-center text-h6 white--text font-weight-bold"
                    >Bienvenidos(as) al RETO MARIQUITA - LETRAS 2021 Versión IV, primero que todo agradecemos por su interés en participar de uno de los mejores eventos de Colombia y con mayor participación, en el 2020 tuvimos más de 5.500 participantes de todo Colombia y 14 países más. EL PROCESO DE INSCRIPCIÓN ES MUY SENCILLO Y CONSTA DE 3 PASOS.</v-card-text>
                    <v-card-text
                        class="text-center text-h6 white--text font-weight-bold"
                    >1. Diligenciar completamente y por una sola ocasión este formulario.</v-card-text>
                    <v-card-text
                        class="text-center text-h6 white--text font-weight-bold"
                    >2. Realizar el pago según las instrucciones compartidas en nuestras redes sociales o solicitarlas a los WHATSAPPS: 3137836544 O 3218220068, Estos son los 2 únicos números oficiales del evento. Es muy importante que agregue estos 2 números a sus contactos de whatsapp.</v-card-text>
                    <v-card-text class="text-center text-h6 white--text font-weight-bold">
                        <p
                            class="px-2 py-2"
                            style="background-color: #636363; border-radius: 8px;"
                        >3. LO MAS IMPORTANTE: Reportar el COMPROBANTE DE PAGO a los WHATSAPPS: 3137836544 O 3218220068 junto con el numero de la(s) cédula(s) para quienes aplica dicho comprobante de pago.</p>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="12" lg="6">
                <v-card color="rgba(0, 0, 0, 0.73)" class="py-5">
                    <v-card-text
                        class="text-center text-h6 white--text font-weight-bold"
                    >IMPORTANTE Favor leer detenidamente cada pregunta con el fin de diligenciar correctamente su inscripción, si tiene alguna duda puede comunicarse directamente a los siguientes números de whatsapp:</v-card-text>

                    <v-card-text class="text-center text-h6 white--text font-weight-bold">
                        <a
                            href="wa.me/573137836544"
                            target="_blank"
                            rel="noopener noreferrer"
                        >wa.me/573137836544 ALEXANDER JIMENEZ</a>
                    </v-card-text>

                    <v-card-text class="text-center text-h6 white--text font-weight-bold">
                        <a
                            href="wa.me/573218220068"
                            target="_blank"
                            rel="noopener noreferrer"
                        >wa.me/573218220068 RETOS MTB COLOMBIA</a>
                    </v-card-text>

                    <v-spacer></v-spacer>

                    <v-tabs
                        v-model="$store.state.inscription.currentTab"
                        background-color="transparent"
                        color="white"
                        grow
                        show-arrows
                        class="tabs"
                    >
                        <v-tab
                            :disabled="item.disabled"
                            v-for="(item, i) in $store.state.inscription.tabs"
                            :key="i"
                        >{{ item.tab }}</v-tab>
                    </v-tabs>

                    <form class="mx-5 m-3">
                        <v-tabs-items class="transparent" v-model="$store.state.inscription.currentTab">
                            <v-tab-item v-for="(item, i) in $store.state.inscription.tabs" :key="i">
                                <v-card
                                    outlined
                                    color="transparent"
                                    max-height="300px"
                                    max-width="100%"
                                    width="100%"
                                    class="overflow-y-auto form-input-inscripcion"
                                >
                                    <v-container>
                                        <v-row class="flex-column mb-6">
                                            <keep-alive>
                                                <component
                                                    v-bind:is="item.component"
                                                    class="tab"
                                                ></component>
                                            </keep-alive>
                                        </v-row>
                                    </v-container>
                                </v-card>
                            </v-tab-item>
                        </v-tabs-items>
                    </form>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import InscriptionFormPersonalData from '@/layouts/components/content/InscriptionTabs/InscriptionFormPersonalData'
import InscriptionFormParticipationData from '@/layouts/components/content/InscriptionTabs/InscriptionFormParticipationData'
import InscriptionFormInscriptionTypeData from '@/layouts/components/content/InscriptionTabs/InscriptionFormInscriptionTypeData'
import InscriptionFormDeliveryData from '@/layouts/components/content/InscriptionTabs/InscriptionFormDeliveryData'

export default {
    name: "inscripcion",
    components: {
        InscriptionFormPersonalData,
        InscriptionFormParticipationData,
        InscriptionFormInscriptionTypeData,
        InscriptionFormDeliveryData,
    },
    data() {
        return {
            tab: null,
        };
    },
    methods: {
        submit() {

        },
    },
};
</script>

<style>
.form-input-inscripcion input {
    color: white !important;
}

.form-input-inscripcion label {
    color: white !important;
}

.tabs .v-tab {
    color: white !important;
}

.tabs .v-icon {
    color: white !important;
}

.theme--light.v-icon.v-icon.v-icon--disabled {
    color: white !important;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
    background-color: rgba(148, 148, 148, 0.5) !important;
    border: 2px solid white !important;
}
</style>