<template>
	<v-container>
		<v-row>
			<v-col>
				<h1>ACA SE VALIDA LA INSCRIPCION</h1>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	name: "validar-inscripcion"
}
</script>

<style>

</style>