<template>

</template>

<script>
export default {
    name: "VerticalNavMenuItem",
    props: {
        item: { type: Object, required: true },
    },
    data: () => ({
        childrens: false,
    }),
};
</script>

<style>
</style>