<!-- =========================================================================================
  File Name: FullPage.vue
  Description: Full page layout
  ----------------------------------------------------------------------------------------
  Item Name: retos mtb colombia
  Author: Sergio Benavides
========================================================================================== -->


<template>
    <v-main>
        <router-view />
    </v-main>
</template>

<style>
.full-page {
    height: 100%;
}
</style>