<!-- =========================================================================================
	File Name: App.vue
	Description: Main vue file - APP
	----------------------------------------------------------------------------------------
	Item Name: retos mtb colombia
	Author: Sergio Benavides
========================================================================================== -->

<template>
    <v-app>
        <router-view />
    </v-app>
</template>

<script>
export default {
    name: "App",
    data() {
        return {
            //
        };
    }
};
</script>
