<template>
    <v-footer color="rgba(148, 148, 148, 0.50)" padless absolute class="mt-5">
        <v-row align="center" justify="center" no-gutters class="py-3">
            <v-col cols="12" md="4" class="d-flex justify-center">
                <v-icon color="black" class="mr-3" size="24px">fas fa-envelope</v-icon>
                <span class="font-weight-bold">retosmtbcolombia@gmail.com</span>
            </v-col>
            <v-col cols="12" md="4" class="d-flex justify-center">
                <v-btn target="blank" :href="socialNetwork.link" v-for="(socialNetwork, i) in icons" :key="i" class="mx-4" dark icon>
                    <v-icon color="black" size="24px">{{ socialNetwork.icon }}</v-icon>
                </v-btn>
            </v-col>
            <v-col cols="12" md="4" class="d-flex justify-center">
                <v-icon color="black" class="mr-3">fas fa-phone-alt</v-icon>
                <span class="mr-3 font-weight-bold">+57 313 7836544</span>
                <v-icon color="black" class="mr-3">fas fa-phone-alt</v-icon>
                <span class="font-weight-bold">+57 321 8220068</span>
            </v-col>
            <v-col class="rgba(148, 148, 148, 0.50) py-4 text-center black--text" cols="12">
                {{ new Date().getFullYear() }} —
                <strong>{{ appTitle }}</strong>
            </v-col>
        </v-row>
    </v-footer>
</template>

<script>
export default {
    name: "page-footer",
    data: () => ({
        appTitle: process.env.MIX_APP_NAME,
        icons: [
            {icon: "fab fa-facebook", link: "https://www.facebook.com/retosmtbcolombia"},
            {icon: "fab fa-instagram-square", link: "https://www.instagram.com/retosmtbcolombia/"},
            {icon: "fab fa-youtube", link: "https://www.youtube.com/channel/UCyDBrLNHnejanfzxjKvuMIw"}
        ]
    })
};
</script>

<style>
</style>