<template>
    <ValidationObserver ref="form" v-slot="{ invalid, validated, passes }">
        <v-col cols="12">
            <ValidationProvider
                vid="gender"
                name="GENERO"
                rules="required|oneOf:M,F"
                v-slot="{ errors, valid }"
            >
                <p class="white--text">GENERO</p>
                <v-radio-group
                    color="white"
                    v-model="form.gender"
                    :mandatory="false"
                    :error-messages="errors"
                    :success="valid"
                >
                    <v-radio label="MASCULINO" value="M"></v-radio>
                    <v-radio label="FEMENINO" value="F"></v-radio>
                </v-radio-group>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="age"
                name="EDAD"
                rules="required|min_value:8|max_value:99"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="EDAD"
                    v-model="form.age"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="bike_type"
                name="TIPO DE BICICLETA"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <p class="white--text">TIPO DE BICICLETA</p>
                <v-radio-group
                    color="white"
                    v-model="form.bike_type"
                    :mandatory="false"
                    :error-messages="errors"
                    :success="valid"
                >
                    <v-radio label="MTB" value="MTB"></v-radio>
                    <v-radio label="RUTA" value="RUTA"></v-radio>
                    <v-radio label="OTROS:"></v-radio>
                    <v-text-field
                        outlined
                        rounded
                        dense
                        value
                        :error-messages="errors"
                        :success="valid"
                    >
                        <!-- <template v-slot:prepend>
                            <v-icon v-text="bikeType ? 'far fa-dot-circle' : 'far fa-circle'"></v-icon>
                        </template>-->
                    </v-text-field>
                </v-radio-group>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="brand_or_group"
                name="GRUPO DE CICLISMO O MARCA"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="GRUPO DE CICLISMO O MARCA"
                    v-model="form.brand_or_group"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                >
                    <template v-slot:prepend>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-icon color="white" v-on="on">far fa-question-circle</v-icon>
                            </template>
                            GRUPO DE CICLISMO O MARCA QUE REPRESENTA (Esta respuesta saldrá en el diploma, sino desea puede dejarla en blanco)
                        </v-tooltip>
                    </template>
                </v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="country"
                name="PAÍS"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-autocomplete
                    outlined
                    rounded
                    dense
                    v-model="form.country"
                    :items="items"
                    :loading="isLoading"
                    :search-input.sync="search"
                    :error-messages="errors"
                    :success="valid"
                    label="PAÍS"
                    color="white"
                    hide-no-data
                    hide-selected
                    item-text="Description"
                    item-value="API"
                    prepend-icon="fas fa-globe-americas"
                    return-object
                ></v-autocomplete>
            </ValidationProvider>
        </v-col>

        <v-divider></v-divider>

        <v-card-actions class="d-flex justify-center">
            <v-btn @click="nextOrPrev(false)" color="primary">
                <v-icon class="mr-3">fas fa-arrow-circle-left</v-icon>Regresar
            </v-btn>
            <v-btn
                :disabled="invalid || !validated"
                @click="passes(nextOrPrev(true))"
                color="primary"
            >
                Siguiente
                <v-icon class="ml-3">fas fa-arrow-circle-right</v-icon>
            </v-btn>
        </v-card-actions>
    </ValidationObserver>
</template>

<script>
export default {
    name: "InscriptionFormParticipationData",
    data: () => ({
        bikeType: false,
        form: {
            gender: null,
            age: "",
            email: "",
            bike_type: "",
            brand_or_group: "",
            country: null,
        },

        isLoading: false,
        items: [],
        model: null,
        search: null,
    }),
    methods: {
        toggleBikeType() {
            this.bikeType = !this.bikeType;
        },
        async nextOrPrev(nextOrPrev) {
            const response = await this.$store.dispatch(
                "inscription/nextOrPrevTab",
                {
                    next: nextOrPrev,
                    currentTab: this.$store.state.inscription.currentTab,
                }
            );
        },
    },
    watch: {
        model(val) {
            if (val != null) this.tab = 0;
            else this.tab = null;
        },
        async search(val) {
            // Items have already been loaded
            if (this.items.length > 0) return;

            this.isLoading = true;

            try {
                // Lazily load input items
                const response = await fetch(
                    `https://parseapi.back4app.com/classes/Country?count=1&limit=10`,
                    {
                        headers: {
                            "X-Parse-Application-Id":
                                "mxsebv4KoWIGkRntXwyzg6c6DhKWQuit8Ry9sHja", // This is the fake app's application id
                            "X-Parse-Master-Key":
                                "TpO0j3lG2PmEVMXlKYQACoOXKQrL3lwM0HwR9dbH", // This is the fake app's readonly master key
                        },
                    }
                );
                const data = await response.json(); // Here you have the data that you need
                console.log(data);
                this.items = data.results
                // console.log(JSON.stringify(data, null, 2));
            } catch (error) {
                console.log(err);
            } finally {
                this.isLoading = false;
            }
        },
    },
};
</script>

<style>
</style>