<template>
    <ValidationObserver ref="form" v-slot="{ invalid, validated, passes }">
        <v-col cols="12">
            <ValidationProvider
                vid="email"
                name="CORREO ELECTRONICO"
                rules="required|email"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="CORREO ELECTRONICO"
                    v-model="form.email"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="name"
                name="NOMBRE COMPLETO"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="NOMBRE COMPLETO"
                    v-model="form.name"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="document_type"
                name="TIPO DE DOCUMENTO"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-select
                    outlined
                    rounded
                    dense
                    label="TIPO DE DOCUMENTO"
                    v-model="form.document_type"
                    :items="document_types"
                    :error-messages="errors"
                    :success="valid"
                ></v-select>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="document_number"
                name="DOCUMENTO DE IDENTIDAD"
                rules="required|numeric"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="DOCUMENTO DE IDENTIDAD"
                    v-model="form.document_number"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="phone_number"
                name="NUMERO DE TELÉFONO"
                rules="required|numeric"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="NUMERO DE TELEFONO"
                    v-model="form.phone_number"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="eps"
                name="EPS (OBLIGATORIO TENER EPS)"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="EPS (OBLIGATORIO TENER EPS)"
                    v-model="form.eps"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="blood_type"
                name="TIPO DE SANGRE Y RH"
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-select
                    outlined
                    rounded
                    dense
                    label="TIPO DE SANGRE Y RH"
                    v-model="form.blood_type"
                    :items="blood_types"
                    :error-messages="errors"
                    :success="valid"
                ></v-select>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="emergency_contact"
                name="NOMBRE CONTACTO DE EMERGENCIA "
                rules="required"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="NOMBRE CONTACTO DE EMERGENCIA "
                    v-model="form.emergency_contact"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-col cols="12">
            <ValidationProvider
                vid="emergency_contact_phone_number"
                name="TELÉFONO CONTACTO DE EMERGENCIA"
                rules="required|numeric"
                v-slot="{ errors, valid }"
            >
                <v-text-field
                    outlined
                    rounded
                    dense
                    label="TELÉFONO CONTACTO DE EMERGENCIA"
                    v-model="form.emergency_contact_phone_number"
                    :error-messages="errors"
                    :success="valid"
                    :disabled="$store.state.loading"
                ></v-text-field>
            </ValidationProvider>
        </v-col>
        <v-divider></v-divider>

        <v-card-actions class="d-flex justify-center">
            <!-- <v-btn :disabled="invalid || !validated" @click="passes(nextStep)" color="primary"> -->
            <v-btn
                @click="nextOrPrevStep(true)"
                color="primary"
            >
                Siguiente
                <v-icon class="ml-3">fas fa-arrow-circle-right</v-icon>
            </v-btn>
        </v-card-actions>
    </ValidationObserver>
</template>

<script>
export default {
    name: "InscriptionFormPersonalData",
    data: () => ({
        document_types: [
            "CÉDULA DE CIUDADANÍA",
            "CÉDULA DE EXTRANJERÍA",
            "CARNÉ DIPLOMÁTICO",
            "CERTIFICADO DE NACIDO VIVO",
            "N.U.I.P",
            "PASAPORTE",
            "PERMISO ESPECIAL",
            "PERMISO ESPECIAL FORMALIZACIÓN",
            "REGISTRO CIVIL",
            "SALVOCONDUCTO DE PERMANENCIA",
            "TARJETA DE IDENTIDAD",
        ],
        blood_types: ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"],
        form: {
            name: "",
            email: "",
            document_type: null,
            document_number: "",
            phone_Number: "",
            eps: "",
            blood_type: null,
            emergency_contact: "",
            emergency_contact_phone_number: "",
        },
    }),
    methods: {
        async nextOrPrevStep(nextOrPrev) {
            const response = await this.$store.dispatch(
                "inscription/nextOrPrevTab",
                {
                    next: nextOrPrev,
                    currentTab: this.$store.state.inscription.currentTab,
                }
            );
        },
    },
};
</script>

<style>
</style>

